* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: midnightblue;
	font-family: sans-serif;
	height: 100vh;
}

.container {
	background: white;
	margin: 1em auto; 
	width: 75%;
	border-radius: 10px;
	min-height: 600px;
	overflow-y: 1;
}

header {
	text-align: center;
	color: #fff;
	padding: 1em;
	background-color: darkcyan;
	font-size: 3em;
	font-style: italic;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span img {
	width: 100px;
	height: auto;
	margin-right: 12px;
}

section {
	padding: 1.2em;
}

aside {
	width: 30%;
	float: left;
	padding: 0.5em;
}

aside ul {
	list-style-type: none;

}

aside ul li {
	 border-bottom: 1px dashed red;
	 padding: 0.5em;
}
article {
	padding: 0.5em;
}

div {
	clear: both;
}